#mainVisual {
    width: 100%;
    height: 1080px;
    position: relative;
}
#mainVisual .mainBanner {
    width: 100%;
    height: 1080px;
    position: relative;

    overflow: hidden;
}
#mainVisual .mainBanner li {
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 100%;
    top: 0;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
#mainVisual .mainBanner li:nth-child(1) {
    left: 0;
    background-image: url(../images/main01_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(2) {
    background-image: url(../images/main02_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(3) {
    background-image: url(../images/main03_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(4) {
    background-image: url(../images/main04_pc.jpg);
}
#mainVisual .mainBanner li .inner {
    width: 1160px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* li에 플렉스하고 aline center 해도된다?? */
}
#mainVisual .mainBanner li h2 {
    font-size: 35px;
}
#mainVisual .mainBanner li h2 span {
}
#mainVisual .mainBanner li h2 + p {
    font-size: 20px;
}
#mainVisual .mainBanner li h2 + p span {
}
#mainVisual .mainBanner li .more {
}
#mainVisual .mainBanner li .more a {
}
#mainVisual .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 1px solid #fff;

    background: transparent;
}
#mainVisual .btn i {
    font-size: 30px;
    color: #fff;
}
#mainVisual .prev {
    left: 120px;
}
#mainVisual .next {
    right: 120px;
}

.main {
}
.main h2 {
    font-size: 43px;
}
.main .con1 .inner,
.main .con2 .inner {
    padding: 120px 0;
}

/* 그룹 선택자 */
.main .con1 .more,
.main .con2 .more {
    text-align: center;
}
.main .con1 .more a,
.main .con2 .more a {
    display: inline-block;

    width: 180px;
    height: 50px;
    border: 1px solid #222;
    border-radius: 50px;

    line-height: 50px;
    font-size: 15px;

    position: relative;
    overflow: hidden;
}
.main .con1 .more a:hover,
.main .con2 .more a:hover {
    border-color: #f7931d;
}
.main .con1 .more a::before,
.main .con2 .more a::before {
    content: '';
    display: block;
    width: 220px;
    height: 70px;
    background: #f7931d;
    position: absolute;
    left: -130%;
    top: -22%;
    transition: 0.5s;
    transform: skewX(-18deg);
    z-index: 10;
}
.main .con1 .more a:hover::before,
.main .con2 .more a:hover::before {
    left: -8%;
}
.main .con1 .more a span,
.main .con2 .more a span {
    position: relative;
    z-index: 20;
}
.main .con1 .more a:hover span,
.main .con2 .more a:hover span {
    color: #fff;
}

.main .con3 .more a,
.main .con4 .more a {
    text-align: center;
    display: inline-block;

    width: 180px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50px;

    line-height: 50px;
    font-size: 15px;

    position: relative;
    overflow: hidden;
}
.main .con3 .more a::before,
.main .con4 .more a::before {
    content: '';
    display: block;
    width: 220px;
    height: 70px;
    background: #fff;
    position: absolute;
    left: -130%;
    top: -22%;
    transition: 0.5s;
    transform: skewX(-18deg);
    z-index: 10;
}
.main .con3 .more a:hover::before,
.main .con4 .more a:hover::before {
    left: -8%;
}
.main .con3 .more a span,
.main .con4 .more a span {
    position: relative;
    z-index: 20;
    color: #fff;
}
.main .con3 .more a:hover span,
.main .con4 .more a:hover span {
    color: #222;
}

.main .con1 {
}
.main .con1 h2 {
    text-align: center;
    margin-bottom: 6px;
}
.main .con1 h2 + p {
    text-align: center;
    font-size: 17px;
    color: #676767;

    margin-bottom: 50px;
}
.main .con1 ul {
    display: flex;
    gap: 20px;

    justify-content: center;
    margin-bottom: 50px;
}
.main .con1 ul li {
    width: 270px;
}
.main .con1 ul li a {
}
.main .con1 ul li a div {
    width: 270px;
    height: 365px;
    overflow: hidden;
}
.main .con1 ul li a div img {
    width: 100%;
    transition: 1.3s;
}
.main .con1 ul li a div:hover img {
    transform: scale(1.05);
}
.main .con1 ul li a h3 {
    margin: 15px 0;

    font-size: 20px;
    color: #000;

    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
}
.main .con1 ul li a h3 span {
    display: block;
}
.main .con1 ul li a p {
    font-size: 15px;
    color: #676767;
    /* padding-right: 24px; */
    /* ㄴ 이렇게 패딩으로 주는게 아니라 아래처럼 단어가 떨어지도록 설정 */
    word-break: keep-all;
}
/* //con1 */

.main .con2 {
    position: relative;
}
.main .con2::after {
    content: '';
    width: 100%;
    height: 50%;
    background: #f6f6f6;
    position: absolute;
    left: 0;
    top: 0;
    /* con2 크기 반절에 흰색 가까운 배경이 있다 */
    /* con2 배경이미지나 색이 없을 경우 가능? */
    z-index: -10;
}
.main .con2 h2 {
    text-align: center;
    margin-bottom: 50px;
}
.main .con2 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main .con2 ul li {
    width: 580px;
}
.main .con2 ul li a {
    display: block;
    width: 580px;
    height: 547px;
    overflow: hidden;
    position: relative;
}
.main .con2 ul li a > img {
    transition: 1.3s;
}
.main .con2 ul li a:hover > img {
    transform: scale(1.05);
}
.main .con2 ul li a .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.main .con2 ul li a .txt strong {
    font-size: 28px;
}
.main .con2 ul li a .txt h3 {
    font-size: 43px;
    margin-bottom: 35px;
}
.main .con2 ul li a + p {
    text-align: center;
    font-size: 17px;
    color: #676767;

    margin-top: 25px;
    margin-bottom: 20px;
}
/* //con2 */

.main .con3 {
    position: relative;
}
.main .con3::after {
    content: '';
    display: block;
    width: 40%;
    height: 100%;
    background: #07255d;
    position: absolute;
    left: 0;
    top: 0;
    /* con2 크기 반절에 흰색 가까운 배경이 있다 */
    /* con2 배경이미지나 색이 없을 경우 가능? */
    z-index: -10;
}
